{% comment %} {% extends '../base.html' %} {% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Expense</title>
  </head>
  <body>
    {% block content %}
    <div class="row">
      <div class="col-xl">
        <div class="card mb-4">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <h5 class="mb-0">Manage Expense {{request.user}}</h5>
          </div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                {{ form.created_at|as_crispy_field }}
              </div>
              <div class="form-group">{{ form.balance|as_crispy_field }}</div>
              <div class="form-group">
                {{ form.currencytype|as_crispy_field }}
              </div>
              <div class="form-group">
                {{ form.accounttype|as_crispy_field }}
              </div>
              <div class="form-group">{{ form.income|as_crispy_field }}</div>
              <div class="form-group">{{ form.day|as_crispy_field }}</div>
              <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Submit" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}
  </body>
</html>
{% endcomment %}